<h2>Lista de Peliculas</h2>

@if (!peliculas) {
  <img src="loading.gif" />

}
@else if (peliculas.length === 0) {
  <div >
  <p>No hay peliculas</p>
</div>
} @else {
  @for (pelicula of peliculas; track $index) {
  <div class="contenedor-pelicula">
    <div style="display: flex; flex-direction: row; gap: 10px;">
      <div>
        <img [ngSrc]="pelicula.poster" [priority]="$index === 0" width="169" height="250" />
      </div>
      <div>
        <p>{{$index}}) Pelicula: {{ pelicula.titulo | uppercase }} </p>
      </div>
    </div>
  </div>
  }
}
